$light-background: #e7e7e7;
$light-foreground: #f9f9f9;
$light-text: #292d36;
$light-text-bg: #444a57;
$light-grey-light: #cacaca;
$light-grey-dark: #1b0703;
$light-shadow: rgba(149 157 165 / 20%);
$light-link: #4c659b;
$light-link-light: #6682be;
$light-link-dark: #354a79;
$light-error: #b53e3e;
$light-success: #3eb55a;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
