.background-text {
    position: absolute;
    z-index: -1;
    font-size: 50vmin;
    color: $light-grey-light;
}

@include respond-tablet-landscape {
    .background-text {
        font-size: 40vmin;
    }
}
